#
# Данный файл содержит необходимые переменные для настройки образа.
# Не попадают в итоговую сборку.
#
# Тут приведены примеры. Для реальной сборки надо скопировать в variables.env и
# указать нужные значения.
#

# Пароль рутового юзера.
ROOT_PASSWORD=